<%= render 'manage/shared/breadcrumps' %>
<div class="cl"></div>
<div class="card mb-3">
  <div class="card-body">
    <%= form_for @list, url: [:manage, @user, @list] do |form| %>
      <%= render 'manage/shared/errors', resource: @list %>
      <div class="mb-3 mt-1">
        <span class="model-link">📍 <%= link_to @user.email, profile_path(@user) %></span>
      </div>
      <div class="field mb-3">
        <%= form.label :name, t('activerecord.attributes.list.name'), class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
      <div class="field mb-3">
        <%= form.label :description, t('activerecord.attributes.list.description'), class: 'form-label' %>
        <%= form.text_field :description, class: 'form-control' %>
      </div>
      <div class="actions mt-3">
        <%= form.submit t('buttons.save'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
